<nav>
    <ul>
        <li><strong>Grafikart Tuto Symfony 7</strong></li>
    </ul>
    <ul>
        <li><a href="{{ path('app_home') }}" class="contrast">Home</a></li>
        <li><a href="{{ path('app_recipe_index') }}" class="contrast">Recipies</a></li>
        <li><a href="{{ path('app_recipe_duration', {'duration': 10}) }}" class="contrast">Quick Recipies (10min)</a></li>
    </ul>
</nav>